<header>
  <section id="areaPersonale">
    <div id="sponsor">
      <a href="#">
        <img src="/assets/images/icons8-air-jordan-50.png" alt="JordanLogo">
      </a>
      <a href="#">
        <img src="/assets/images/converseLogo.png" alt="ConverseLogo">
      </a>
    </div>
    <div id="aiuti">
      <ul>
        <a href="#"><li>Trova un negozio</li></a>
        <a href="#"><li>Aiuto</li></a>
        <a href="#"><li>Unisciti a noi</li></a>
        <a href="#"><li>Accedi</li></a>
      </ul>
    </div>
  </section>
  <section id="navigazione">
    <div id="logo">
      <a href="index.html">
        <img src="/assets/images/logo.png" alt="">
      </a>
    </div>
    <nav>
      <ul>
        <a routerLink="/shop"><li>Novita' e in evidenza</li></a>
        <a routerLink="/shop"><li>Uomo</li></a>
        <a routerLink="/shop"><li>Donna</li></a>
        <a routerLink="/shop"><li>Kids</li></a>
        <a routerLink="/shop"><li>Outlet</li></a>
      </ul>
    </nav>
    <div class="btn">
      <div class="search-bar">
        <button class="search-btn" (click)="onSearch(searchTerm.value); searchTerm.value = '';">
          <mat-icon>search</mat-icon>
        </button>
        <input type="text" placeholder="Cerca" class="search-input" #searchTerm/>
      </div>
      <div class="shopping_cart">
        <button class="shopping_cart-btn" routerLink="/cart">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>
      <div class="profilo">
        <button class="profilo-btn" routerLink="#">
          <mat-icon>person</mat-icon>
        </button>
      </div>
    </div>
  </section>
</header>