<form #filterForm="ngForm">
  <!-- Filtro per nome del prodotto -->
  <div>
    <label for="name">Nome Prodotto</label>
    <input type="text" id="name" name="productName"
      [(ngModel)]="filters.nome"
        placeholder="Cerca per nome">
  </div>

  <!-- Filtro per categoria -->

  <div>
    <label for="category">Categoria</label>
    <select name="category" id="category" [(ngModel)]="filters.categoria">
      <option value="">Tutte</option>
      <option [value]="c" *ngFor="let c of categories">{{c}}</option>
    </select>
  </div>

  <!-- Filtro per colore -->

  <div>
    <label>Colori</label>
    <div *ngFor="let color of colors">
      <input type="checkbox" [value]="color" (change)="onColorChange($event)" /> {{ color }}
    </div>
  </div>
  
  <!-- Filtro per taglia -->

  <button type="button" (click)="applyFilters()">Applica Filtro</button>
</form>

<div *ngFor="let product of filteredProducts">
  <p>{{product.nome}}</p>
</div>