.slider-container{
  padding: 10px;
  margin: 1em;
  overflow: hidden;

  .slider-head{
    position: relative;

    h2{
      padding: 10px;
      font-size: 2em;
      line-height: 2.5em;
    }

    button{
      width: 75px; 
      border: none;
      border-radius: 40px;
      margin: 20px;
      font-size: 1.5em;
      line-height: 1.5em;
      position: absolute;
      color: gray;
      background-color: rgb(228, 238, 236);

      &:hover{
        border: 2px solid black;
        color: black;
      }

      &.prev{
        top: 0;
        right: 100px;
      }

      &.next{
        top: 0;
        right: 0;
      }
    }
  }

  .slider-body{
    width: 100%;

    .slider-wrapper{
      display: flex;
      overflow-x: scroll;
      position: relative;
    }

    app-card{
      flex: 0 0 auto;
    }
  }
}